html,body{
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

button{
  font-family: "Microsoft YaHei";
}

#app{
  height: 100%;
}

.login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  margin-top: 160px;
  padding: 20px 0 30px 0;
  border: 1px solid #e1e1e1;
}

.topTitle {
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-color: #e8e8e8;
}

.errorTips {
  position: absolute;
  top: 42px;
  font-size: 13px;
  color: #ff4949;
}

.hasError{
  color: #ff4949;
}

.modal{
  text-align: center;
  padding: 0px 35px 10px 35px;
}

.tipsModal .mainTips{
  font-size: 24px;
  color: #000;
  text-align: center
}

.tipsModal .mainTips i{
  font-size: 30px;
  vertical-align:top
}

.tipsModal .returnTips{
  font-size: 18px;
}

.tipsModal .el-dialog__close{
  display: none;
}

.label_left{
  text-align: left
}

.pageination{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}
