html, body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

button {
  font-family: "Microsoft YaHei";
}

#app {
  width: 100%;
  height: 100%;
}

.formTitle {
  font-weight: normal;
  padding-left: 8px;
}

.buttonGroup {
  margin-top: 20px;
  margin-bottom: 70px;
  text-align: center;
}

.panel {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
}

.panel-center {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
}

.leftNav {
  width: 180px;
  height: 100%;
  background-color: #383838;
}

.panel-content {
  position: absolute;
  left: 180px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 40px;
  overflow: auto;
}

.login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  margin-top: 160px;
  padding: 20px 0 30px 0;
  border: 1px solid #e1e1e1;
}

.topTitle {
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-color: #e8e8e8;
}

/* 一般错误提示 */
.errorTips {
  position: absolute;
  top: 42px;
  font-size: 13px;
  color: #ff4949;
}

/* 模块错误提示*/
.error{
  font-size: 10px;
  color: #ff4949;
  margin-left: 8px;
}

.hasError {
  color: #ff4949;
}

.modal {
  text-align: center;
  padding: 0px 35px 10px 35px;
}

.tipsModal .mainTips {
  font-size: 24px;
  color: #000;
  text-align: center
}

.tipsModal .mainTips i {
  font-size: 30px;
  vertical-align: top
}

.tipsModal .returnTips {
  font-size: 18px;
}

.tipsModal .el-dialog__close {
  display: none;
}

.label_left {
  text-align: left
}

.pageination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.tableButton {
  background-color: #ffffff;
  border-color: #c2c3ce;
  margin-top: 5px;
  margin-bottom: 5px;
}

.select {
  width: 200px;
}
