.login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  margin-top: 160px;
  padding: 20px 0 30px 0;
  border: 1px solid #e1e1e1;
}

.topTitle {
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-color: #e8e8e8;
}

.errorTips {
  position: absolute;
  top: 42px;
  font-size: 13px;
  color: #ff4949;
}
